*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Markdown Export Files, pdf file should not be version controlled

*.pdf

# *.html, html file is text file , so it should be able to be version controlled
# revealjs_deps, it is stable and be used by html files, so it should be version controlled

# Some Backups
*.zip
*.rar
*.tar

# some exports
Out_PlantUML/